<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Photo Upload
    </ion-title>
    <ion-button color="primary " slot="end" (click)="logoutAction()" >Log out</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Photo Upload</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>🚀 Welcome to {{userProfileData?.displayName}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <app-photo-upload></app-photo-upload>
    </ion-card-content>
  </ion-card>
</ion-content>